<!DOCTYPE html>

<html lang="en">

    <head></head>
    <body class=" safesearch-installed" data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true">
        <!--

         Navbar
            ======================================…

        -->
        <div class="navbar navbar-inverse navbar-fixed-top"></div>
        <div class="jumbotron masthead">
            <div class="container">
                <h1></h1>
                <p></p>
                <p></p>
                <ul class="masthead-links"></ul>
                <div id="carbonads-container"></div>
            </div>
        </div>
        <div class="bs-docs-social"></div>
        <div class="container"></div>
        <!--

         Footer
            ======================================…

        -->
        <footer class="footer"></footer>
        <!--

         Le javascript
            ===============================…

        -->
        <!--

         Placed at the end of the document so the pages lo…

        -->
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap-transition.js"></script>
        <script src="assets/js/bootstrap-alert.js"></script>
        <script src="assets/js/bootstrap-modal.js"></script>
        <script src="assets/js/bootstrap-dropdown.js"></script>
        <script src="assets/js/bootstrap-scrollspy.js"></script>
        <script src="assets/js/bootstrap-tab.js"></script>
        <script src="assets/js/bootstrap-tooltip.js"></script>
        <script src="assets/js/bootstrap-popover.js"></script>
        <script src="assets/js/bootstrap-button.js"></script>
        <script src="assets/js/bootstrap-collapse.js"></script>
        <script src="assets/js/bootstrap-carousel.js"></script>
        <script src="assets/js/bootstrap-typeahead.js"></script>
        <script src="assets/js/bootstrap-affix.js"></script>
        <script src="assets/js/holder/holder.js"></script>
        <script src="assets/js/google-code-prettify/prettify.js"></script>
        <script src="assets/js/application.js"></script>